<section class="hero container">
  <div class="hero-container">
    <div class="hero-content">
      <h1 class="hero-title">Create Stunning Email Campaigns</h1>
      <p class="hero-text">
        Create and launch email campaigns that captivate your customers in
        just a few clicks.
      </p>
      <div class="btn-hero-wrapper">
        <include src="partials/components/button.html" locals='{"class_name": "btn-try-now", "text": "try now"}'>
        </include>
        <include src="partials/components/button.html" locals='{"class_name": "btn-hero-demo", "text": "get a demo"}'>
        </include>
      </div>
    </div>
    <div class="hero-photo">
      <img src="./assets/images/hero.png" alt="image-hero" class="hero-img" />
    </div>
  </div>
</section>
