/*------------------------------------*\
  #CONTACTS CSS
\*------------------------------------*/
.contact, .contact-member-item, 
.contact-content, .form-info {
  display: flex;
  flex-direction: column;
}

.contact {
  justify-content: center;
  align-items: center;
  padding: 133px 0 52px 0;
  gap: 37px 0;
}

.contact-container {
  display: flex;
  align-items: center;
  gap: 0 32px;
}   

.contact-member-item {
  width: 342px;
  height: 239px;
  justify-content: flex-end;
  background-position: center;
}

.contact-member-content{
  padding: 25px;
}

.contact-member-item:nth-child(1) {
  background-image: url('../../assets/images/frankie.jpg');
}

.contact-member-item:nth-child(2) {
  background-image: url('../../assets/images/camile.jpg');
}

.contact-member-item:nth-child(3) {
  background-image: url('../../assets/images/elayne.jpg');
}

.contact-member-name {
  color: var(--secondary-text-color);
  font-size: var(--fs-large);
  font-weight: var(--fw-black);
  line-height: 40px;
}

.contact-member-desc {
  color: var(--secondary-text-color);
  font-size: var(--fs-medium);
  font-weight: var(--fw-bold);
  line-height: 22px;
}

.contact-content {
  justify-content: center;
  align-items: center;
  gap: 47px 0;
}

.contact-title {
  text-align: center;
  font-size: var(--fs-x-large);
  line-height: 48px;
  padding: 0 94px;
}

.form-controller {
  display: flex;
  align-items: flex-start;
  gap: 0 27px;
}

.form-info {
  align-items: flex-start;
  gap: 20px;
}

.form-input{
  width: 420px;
  height: 65px;
  border-radius: 5px;
  border: 1px solid #9F9F9F;
  overflow: hidden;
}

.form-control {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  margin-left: 25px;
  padding: 0;
}

.form-control::placeholder {
  color: var(--primary-text-color);
  font-size: var(--fs-small);
  font-weight: var(--fw-medium);
  line-height: 25px;
}

.form-message {
  margin-left: 25px;
  color: var(--primary-color);
  font-size: var(--fs-btn);
  font-weight: var(--fw-medium);
  line-height: 25px;
  letter-spacing: 1px;
}

.btn-submit {
  border: none;
  width: 221px;
  background-color: var(--secondary-bg-color);
  color: var( --secondary-text-color);
}
