/*------------------------------------*\
  #HERO CSS
\*------------------------------------*/
.hero,
.hero-container,
.btn-hero-wrapper {
  display: flex;
  align-items: center;
}

.hero {
  padding-bottom: 70px;
}

.hero-container {
  margin-top: 120px;
}

.hero-content {
  min-width: 510px;
  z-index: 10;
}

.hero-title {
    color: #000;
    font-size: var(--fs-xx-large);
    line-height: 71px;
}

.hero-text {
  font-size: var(--font-size-normal);
  line-height: 26px;
  margin-top: 23px;
}

.hero-photo {
    width: 680px;
    height: 383px;
    filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.160784));
    transform: translateX(-67px);
}

.hero-img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.btn-hero-wrapper {
  margin-top: 35px;
  gap: 0 45px;
}

.btn-hero {
  min-width: 200px;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  line-height: 25px;
  letter-spacing: 1.05px;
  text-align: center; 
  text-transform: uppercase;
  padding: 20px 0;
}

.btn-hero-demo {
  background-color: #fff;
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
}
