/*------------------------------------*\
  #BRAND CSS
\*------------------------------------*/
.brand {
  margin-top: 75px;
  padding-bottom: 146px;
}

.brand-title {
  padding: 0 300px;
  text-align: center;
  font-size: var(--fs-x-large);
  line-height: 48px;
}

@media screen and (max-width: 992px) {
  .brand {
    margin-top: 50px;
    padding-bottom: 100px;
  }

  .brand-title {
    padding: 0 200px;
    font-size: var(--fs-respon-xx-large);
    line-height: 36px;  
  }
}

@media screen and (max-width: 576px) {
  .brand {
    margin-top: 59px;
    padding-bottom: 58px;
  }

  .brand-title {
    font-size: var(--fs-respon-x-large);
    padding: 0;
  }
}
