/*------------------------------------*\
  #CAMPAIGNS CSS
\*------------------------------------*/
.campaign {
  margin-top: 100px;
  display: flex;
  width: 100%;
  gap: 0 40px;
}

.campaign-card:nth-child(2) {
  margin-top: 88px;
  align-self: flex-end;
}

.campaign-card:nth-child(3) {
  background-color: transparent;
  align-self: center;
}

.campaign-card-title {
  color: var(--primary-text-color);
  font-size: var(--fs-x-large);
  line-height: 48px;
  margin-bottom: 22px;
}

.campaign-card-body-proven {
  padding: 0;
  width: 115%;
}

.campaign-card-text-proven {
  color: var(--primary-text-color);
  font-size: var(--fs-x-medium);
  font-weight: var(--fw-medium);
  line-height: 26px;
  padding-right: 44px;
}

@media screen and (max-width: 1200px) {
  .campaign-card-title {
    color: var(--primary-text-color);
    font-size: var(--fs-x-large);
    margin-bottom: 22px;
    line-height: 48px;
  }

  .campaign-card-body-proven {
    width: 100%;
  }
}

@media screen and (max-width: 922px) {
  .campaign-card-title {
    font-size: var(--fs-respon-xx-large);
    line-height: 31px;
  }

  .campaign-card-text-proven {
    font-size: var(--fs-respon-small);
    line-height: 16px;
  }
}

@media screen and (max-width: 576px) {
  .campaign {
    flex-direction: column;
  }

  .campaign-card {
    width: 80%;
  }

  .campaign-card:nth-child(2) {
    margin-top: 11px;
  }

  .campaign-card:nth-child(3) {
    margin-top: 18px;
  }
}
