/*------------------------------------*\
  #CAMPAIGNS CSS
\*------------------------------------*/
.campaign {
  display: flex;
  gap: 0 47px;
  width: 100%;
  margin-top: 100px;
}

.campaign-card:nth-child(2) {
  align-self: flex-end;
  margin-top: 88px;
}

.campaign-card:nth-child(3) {
  align-self: center;
  margin-top: 38px;
  background-color: transparent;
}

.campaign-card-title {
  margin-bottom: 22px;
  color: var(--primary-text-color);
  font-size: var(--fs-1x-large);
}

.campaign-card-body-proven {
  width: 115%;
  padding: 0;
}

.campaign-card-text-proven {
  padding-right: 44px;
  color: var(--primary-text-color);
  font-size: var(--fs-normal);
  font-weight: var(--fw-medium);
  line-height: var(--line-height-medium);
}

@media screen and (max-width: 1200px) {
  .campaign-card-title {
    margin-bottom: 22px;
    color: var(--primary-text-color);
    font-size: var(--fs-1x-large);
  }

  .campaign {
    gap: 0 27px;
    margin-top: 70px;
  }

  .campaign-card-body-proven {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .campaign-card-body {
    padding: 11px 25px 13px 21px;
  }

  .campaign-card-title {
    font-size: var(--fs-responsive-2x-large);
  }

  .campaign-card-body-proven {
    padding: 0;
  }

  .campaign-card-text-proven {
    font-size: var(--fs-responsive-small);
    line-height: var(--line-height-normal);
  }

  .campaign-card-text-proven {
    padding-right: 20px;
  }

  .campaign-card:nth-child(2) {
    margin-top: 52px;
  }
}

@media screen and (max-width: 576px) {
  .campaign {
    flex-direction: column;
    margin-top: 33px;
  }

  .campaign-card {
    width: 75%;
  }

  .campaign-card:nth-child(2) {
    margin-top: 11px;
  }

  .campaign-card:nth-child(3) {
    width: 90%;
    margin-top: 18px;
  }
}
