/*------------------------------------*\
  #CUSTOMERS CSS
\*------------------------------------*/
.customers {
  margin-top: 130px;
  display: flex;
  justify-content: center;
}

.customers-container {
  background-image: url('../../assets/images/video.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  width: 944px;
  height: 531px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers-content {
  display: flex;
  flex-direction: column;
  gap: 51px 0;
  align-items: center;
}

.customer-heading {
  color: var(--white-text-color);
  font-size: var(--fs-huge);
  font-weight: var(--fw-black);
  line-height: 80px;
}

@media screen and (max-width: 992px) {
  .customers {
    margin-top: 105px;
  }

  .customers-container {
    height: 347px;
  }

  .customer-heading {
    font-size: var(--fs-respon-x-huge);
    line-height: 51px;
  }

  .customers-content {
    gap: 41px 0;
  }
}

@media screen and (max-width: 767px) {
  .customers {
    margin-top: 0;
  }

  .customer-heading {
    font-size: var(--fs-respon-large);
    line-height: 29px;
  }

  .customers-content {
    gap: 20px 0;
  }
}
