/*------------------------------------*\
  #HERO CSS
\*------------------------------------*/
.hero,
.btn-hero-wrapper {
  display: flex;
  align-items: center;
}

.hero {
  padding-top: 9%;
  padding-bottom: 9%;
}

.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 383px;
}

.hero-content {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  max-width: 510px;
}

.hero-title {
  color: var(--primary-text-color);
  font-size: var(--fs-2x-large);
}

.hero-text {
  margin-top: 5%;
  padding-right: 5%;
  font-size: var(--fs-normal);
  line-height: var(--line-height-medium);
  font-weight: var(--fw-medium);
}

.hero-photo {
  position: absolute;
  top: -20px;
  right: 0px;
  max-width: 680px;
  filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.16));
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-inline-size: 100%;
  block-size: auto;
}

.btn-hero-wrapper {
  display: flex;
  gap: 45px;
  margin-top: 35px;
}

.btn-try-now {
  color: var(--white-text-color);
  background-color: var(--secondary-bg-color);
  border: none;
}

.btn-try-now:hover {
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);
}

.btn-hero-demo {
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  background-color: var(--primary-bg-color);
}

@media screen and (max-width: 768px) {
  .hero {
    padding-top: 8%;
    padding-bottom: 8%;
  }
  
  .hero-container {
    height: 200px;
  }

  .hero-content {
    top: -20px;
    left: 10px;
  }

  .hero-title {
    margin-top: 20px;
    padding-right: 21%;
    font-size: var(--fs-responsive-4x-large);
  }

  .hero-text {
    padding-right: 40%;
    font-size: var(--fs-responsive-small);
    line-height: var(--line-height-normal);
  }

  .btn-hero-wrapper {
    gap: 29px;
    margin-top: 25px;
  }

  .hero-photo {
    top: -10px;
    width: 62%;
  }
}

@media screen and (max-width: 576px) {
  .hero-title {
    font-size: var(--fs-responsive-3x-large);
    padding-right: 0;
  }

  .hero-text {
    margin-top: 98px;
    padding-right: 0;
  }

  .btn-hero-wrapper {
    gap: 14px;
  }

  .hero-content {
    left: 0;
  }

  .hero-photo {
    top: -10px;
    right: 0;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .hero {
    padding-top: 20%;
  }

  .hero-content {
    top: -38%;
  }

  .hero-title {
   width: 99%;
  }
}
