/*------------------------------------*\
  #STARTED CSS
\*------------------------------------*/
.started {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 366px;
  background-color: var(--primary-color);
}

.started-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.started-title {
  color: var(--white-text-color);
  text-align: center;
  font-size: var(--fs-huge);
  line-height: 80px;
  margin-bottom: 60px;
}

.btn-started {
  transform: translateY(-15px);
}

@media screen and (max-width: 992px) {
  .started {
    height: 240px;
  }

  .started-title {
    font-size: var(--fs-respon-xx-huge);
    line-height: 56px;
  }

  .btn-started {
    transform: translateY(-22px);
  }
}

@media screen and (max-width: 576px) {
  .started {
    height: 290px;
  }

  .started-title {
    line-height: 48px;
  }
}
