/*------------------------------------*\
  #STARTED CSS
\*------------------------------------*/
.started {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 366px;
  background-color: var(--primary-color);
}

.started-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.started-title {
  margin-bottom: 60px;
  color: var(--white-text-color);
  font-size: var(--fs-3x-large);
  text-align: center;
  line-height: var(--line-height-normal);
}

.btn-started {
  transform: translateY(-15px);
}

@media screen and (max-width: 992px) {
  .started {
    height: 240px;
  }

  .started-title {
    font-size: var(--fs-responsive-5x-large);
  }
}

@media screen and (max-width: 576px) {
  .started {
    height: 290px;
  }
}
