/*------------------------------------*\
  #STARTED CSS
\*------------------------------------*/
.started {
  background-color: var(--primary-color);
  height: 366px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.started-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.started-title {
  color: var(--white-text-color);
  text-align: center;
  font-size: var(--fs-huge);
  line-height: 80px;
  margin-bottom: 40px;
}

@media screen and (max-width: 992px) {
  .started {
    height: 240px;
  }

  .started-title {
    font-size: var(--fs-respon-xx-huge);
    line-height: 56px;
  }
}

@media screen and (max-width: 767px) {
  .started {
    height: 290px;
  }

  .started-title {
    line-height: 48px;
  }
}
