<section class="campaigns">

  <include src="partials/components/campaigns-card.html" locals='{
    "card_img": "./assets/images/women.jpg",
    "card_text": "Launch campaigns but also find new customers. Our unique platform handles campaigns from start to end."
  }'></include>

  <include src="partials/components/campaigns-card.html" locals='{
    "card_img": "./assets/images/team.jpg",
    "card_text": "Start building and sharing with your team today. NinjaMail is renowned for its industry leading team collaboration tools."
  }'></include>

</section>
