<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <a href="#">
        <include src="partials/components/logo.html" locals='{
        "className": "footer-logo",
        "logo": "./assets/images/logo.png"
      }'>
      </a>
      <div class="footer-links">
        <ul class="footer-items">
          <li class="footer-item">
            <include src="partials/components/item-link.html" locals='{
              "className": "footer-link",
              "link": "javascript:void(0)",
              "text": "features"
            }'>
            </include>
          </li>
          <li class="footer-item">
            <include src="partials/components/item-link.html" locals='{
            "className": "footer-link",
              "link": "javascript:void(0)",
              "text": "pricing"
            }'>
            </include>
          </li>
          <li class="footer-item">
            <include src="partials/components/item-link.html" locals='{
            "className": "footer-link",
              "link": "javascript:void(0)",
              "text": "services"
            }'>
            </include>
          </li>
          <li class="footer-item">
            <include src="partials/components/item-link.html" locals='{
            "className": "footer-link",
              "link": "javascript:void(0)",
              "text": "partners"
            }'>
            </include>
          </li>
        </ul>
        <ul class="footer-items">
          <li class="footer-item">
            <include src="partials/components/item-link.html" locals='{
              "className": "footer-link",
              "link": "javascript:void(0)",
              "text": "about us"
            }'>
            </include>
          </li>
          <li class="footer-item">
            <include src="partials/components/item-link.html" locals='{
              "className": "footer-link",
              "link": "javascript:void(0)",
              "text": "tutorials"
            }'>
            </include>
          </li>
          <li class="footer-item">
            <include src="partials/components/item-link.html" locals='{
              "className": "footer-link",
              "link": "javascript:void(0)",
              "text": "resources"
            }'>
            </include>
          </li>
          <li class="footer-item">
            <include src="partials/components/item-link.html" locals='{
              "className": "footer-link",
              "link": "javascript:void(0)",
              "text": "help center"
            }'>
            </include>
          </li>
          <li class="footer-item">
            <include src="partials/components/item-link.html" locals='{
              "className": "footer-link",
              "link": "javascript:void(0)",
              "text": "templates"
            }'>
            </include>
          </li>
          <li class="footer-item">
            <include src="partials/components/item-link.html" locals='{
              "className": "footer-link",
              "link": "javascript:void(0)",
              "text": "case studies"
            }'>
            </include>
          </li>
        </ul>
        <ul class="footer-items">
          <li class="footer-item">
            <include src="partials/components/item-link.html" locals='{
              "className": "footer-link",
              "link": "javascript:void(0)",
              "text": "medium"
            }'>
            </include>
          </li>
          <li class="footer-item">
            <include src="partials/components/item-link.html" locals='{
              "className": "footer-link",
              "link": "javascript:void(0)",
              "text": "twitter"
            }'>
            </include>
          </li>
          <li class="footer-item">
            <include src="partials/components/item-link.html" locals='{
              "className": "footer-link",
              "link": "javascript:void(0)",
              "text": "facebook"
            }'>
            </include>
          </li>
          <li class="footer-item">
            <include src="partials/components/item-link.html" locals='{
              "className": "footer-link",
              "link": "javascript:void(0)",
              "text": "instagram"
            }'>
            </include>
          </li>
          <li class="footer-item">
            <include src="partials/components/item-link.html" locals='{
              "className": "footer-link",
              "link": "javascript:void(0)",
              "text": "linkedIn"
            }'>
            </include>
          </li>
        </ul>
        <ul class="footer-items">
          <li class="footer-item">
            <include src="partials/components/item-link.html" locals='{
              "className": "footer-link",
              "link": "javascript:void(0)",
              "text": "contact us"
            }'>
            </include>
          </li>
          <li class="footer-item">
            <include src="partials/components/item-link.html" locals='{
              "className": "footer-link",
              "link": "javascript:void(0)",
              "text": "slack"
            }'>
            </include>
          </li>
          <li class="footer-item">
            <include src="partials/components/item-link.html" locals='{
              "className": "footer-link",
              "link": "javascript:void(0)",
              "text": "jobs"
            }'>
            </include>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>NinjaMail is a sample project for Quest AI. © 2019 Quest AI, All rights reserved.</p>
      <div class="footer-bottom-items">
        <p>Terms & Conditions</p>
        <p>Privacy Policy</p>
      </div>
    </div>
</footer>
