<header class="header">
  <a href="#" class="header-logo">
    <include src="partials/components/logo.html" locals='{
      "className": "header-logo-img",
      "logo": "./assets/images/logo.png"
    }'>
  </a>
  <nav class="header-nav">
    <ul class="header-nav-list">
      <include src="partials/components/nav-item.html" locals='{
        "link": "javascript:void(0)",
        "nav_link_1": "features",
        "nav_link_2": "pricing",
        "nav_link_3": "services",
        "nav_link_4": "partners"
      }'>
      </include>
      <li class="header-nav-item">
        <a class="header-nav-auth" href="javascript:void(0)">sign up free</a>
      </li>
    </ul>
  </nav>
</header>
