/*------------------------------------*\
  #CAMPAIGN-CARD CSS
\*------------------------------------*/
.campaign-card {
  width: 320px;
  height: max-content;
  background-color: var(--primary-bg-color) ;
}

.campaign-card-img-wrapper {
  width: 100%;
  height: 260px;
}

.campaign-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.campaign-card-body {
  padding: 24px 39px 24px 30px;
}

.campaign-card-text {
  color: var(--primary-text-color);
  font-size: var(--fs-x-small);
  font-weight: var(--fw-medium);
  line-height: 26px;
}

@media screen and (max-width: 992px) {
  .campaign-card-img-wrapper {
    width: 209px;
    height: 160px;
  }

  .campaign-card-body {
    padding: 17px 25px 13px 20px;
  }

  .campaign-card-text {
    font-size: var(--fs-respon-small);
    line-height: 16px;
  }
}

@media screen and (max-width: 767px) {
  .campaign-card {
    max-width: 209px;
  }
}
