/*------------------------------------*\
  #CONTACT-CARD CSS
\*------------------------------------*/
.contact-member-item {
  min-width: 342px;
  height: 239px;
  justify-content: flex-end;
  background-position: center;
  cursor: pointer;
  transition: all 0.3s ease;
  background-size: contain;
  background-repeat: no-repeat;
}

.contact-member-content {
  padding: 25px;
}

.contact-member-name {
  color: var(--white-text-color);
  font-size: var(--fs-large);
  font-weight: var(--fw-black);
  line-height: 40px;
}

.contact-member-desc {
  color: var(--white-text-color);
  font-size: var(--fs-x-medium);
  font-weight: var(--fw-bold);
  line-height: 22px;
}

@media screen and (max-width: 1200px) {
  .contact-member-item {
    min-width: 270px;
    height: 157px;
  } 
}

@media screen and (max-width: 922px) {
  .contact-member-item {
    min-width: 223px;
  } 

  .contact-member-name {
    font-size: var(--fs-respon-x-large);
    line-height: 26px;
  }

  .contact-member-desc {
    font-size: var(--fs-respon-medium);
    line-height: 14px;
  }
}
