/*------------------------------------*\
  #CONTACT-CARD CSS
\*------------------------------------*/
.contact-member-item {
  position: relative;
  max-width: 340px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.contact-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-member-content {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-bottom: 20px;
  padding-left: 25px;
}

.contact-member-name {
  color: var(--white-text-color);
  font-size: var(--fs-large);
  font-weight: var(--fw-black);
  line-height: 40px;
}

.contact-member-desc {
  color: var(--white-text-color);
  font-size: var(--fs-x-medium);
  font-weight: var(--fw-bold);
  line-height: 22px;
}

@media screen and (max-width: 1200px) {
  .contact-avatar {
    max-inline-size: 100%;
    block-size: auto;
  }
}

@media screen and (max-width: 768px) {
  .contact-member-name {
    margin-bottom: 5px;
    font-size: var(--fs-responsive-large);
    line-height: 16px;
  }

  .contact-member-desc {
    font-size: var(--fs-responsive-small);
  }

  .contact-member-content {
    padding-bottom: 9px;
    padding-left: 20px;
  }
}
