/*------------------------------------*\
  #FOOTER-LINK CSS
\*------------------------------------*/
.footer-link {
  color: var(--primary-text-color);
  font-size: var(--fs-normal);
  font-weight: var(--fw-bold);
  text-transform: capitalize;
}

@media screen and (max-width: 992px) {
  .footer-link {
    font-size: var(--fs-responsive-small);
  }
}
