/*------------------------------------*\
  #FOOTER-LINK CSS
\*------------------------------------*/
.footer-link {
  color: var(--primary-text-color);
  font-size: var(--fs-x-medium);
  font-weight: var(--fw-bold);
  line-height: 22px;
  text-transform: capitalize;
}

@media screen and (max-width: 992px) {
  .footer-link {
    font-size: var(--fs-responsive-small);
    line-height: 14px;
  }
}
