/*------------------------------------*\
  #LEARN MORE CSS
\*------------------------------------*/
.btn-learn-more {
  display: block;
  margin-top: 22px;
  color: var(--secondary-text-color);
  font-size: var(--fs-x-small);
  font-weight: var(--fw-extra-bold);
  line-height: 19px;
  transition: all 0.3s ease;
}

.btn-learn-more:hover {
  opacity: 0.8;
}

@media screen and (max-width: 992px) {
  .btn-learn-more {
    margin-top: 10px;
    font-size: var(--fs-responsive-small);
  }

  .btn-learn-more {
    margin-top: 15px;
  }
}
