/*------------------------------------*\
  #LOGO CSS
\*------------------------------------*/
.header-logo {
  display: inline-block;
  width: 242px;
  height: 34px;
}

.header-logo-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.footer-logo {
  height: 28px;
}

@media screen and (max-width: 992px) {
  .header-logo-img {
    max-inline-size: 70%;
    block-size: auto;
  }
}

@media screen and (max-width: 768px) {
  .header-logo {
    width: 216px;
    height: 31px;
  }

  .footer-logo {
    height: 17px;
  }
}
