/*------------------------------------*\
  #NAV-ITEM CSS
\*------------------------------------*/
.header-nav-item {
  padding: 38px 0 44px 0;
}

.header-nav-link {
  display: inline-block;
  min-width: 110px;
  height: 41px;
  color: var(--primary-text-color);
  font-size: var(--fs-small);
  font-weight: var(--fw-extra-bold);
  line-height: 41px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.1s ease-in;
}

.header-nav-link:hover {
  border-bottom: 5px solid var(--secondary-bg-color);
}

@media screen and (max-width: 992px) {
  .header-nav-link {
    font-size: var(--fs-respon-x-small);
    min-width: 71px;
  }

  .header-nav-item {
    padding: 19px 0 29px;
  }
}

@media screen and (max-width: 768px) {
  .header-nav-item {
    padding: 10px 0 22px;
  }

  .header-nav-link {
    min-width: 71px;
  }
}



