/*------------------------------------*\
  #NAV-ITEM CSS
\*------------------------------------*/
.header-nav-item {
  padding: 38px 0 44px 0;
}

.header-nav-link {
  box-sizing: border-box;
  color: var(--primary-text-color);
  font-weight: var(--fw-extra-bold);
  letter-spacing: 1px;
  font-size: var(--fs-small);
  text-transform: uppercase;
  min-width: 110px;
  display: inline-block;
  text-align: center;
  padding: 5px 0;
}

.header-nav-link:hover {
  border-top: 5px solid transparent;
  border-bottom: 5px solid var(--secondary-bg-color);
}

@media (min-width: 320px) and (max-width: 767px) {
  .header-nav-item:not(:last-child) {
    display: none;
  }

  .header-nav-item {
    padding: 15px 0 22px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .header-nav-link {
    font-size: var(--fs-respon-x-small);
    min-width: 71px;
  }

  .header-nav-item {
    padding: 19px 0 29px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-nav-item {
    padding: 13px 0 25px;
  }
}


