:root {
  /* color */
  --primary-color: #4ba87d;
  --secondary-color: #fff;

  --primary-text-color: #000;
  --white-text-color: #fff;
  --secondary-text-color: #4ba87d;
  
  --primary-bg-color: #fff;
  --secondary-bg-color: #4ba87d;

  --border-color: #9F9F9F;
  /* end color */

  /* sizing */
  --fs-normal : 15px;
  --fs-x-small: 16px;
  --fs-small: 17px;
  --fs-x-medium: 19px;
  --fs-medium: 21px;
  --fs-large: 34px;
  --fs-x-large: 44px;
  --fs-xx-large: 59px;
  --fs-huge: 60px;

  /* responsive */
  --fs-responsive-normal: 9px;
  --fs-responsive-x-small: 11px;
  --fs-responsive-small: 12px;
  --fs-responsive-x-medium: 13px;
  --fs-responsive-medium: 28px;
  --fs-responsive-large: 38px;

  /* end responsive */

  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;

  --btn-medium-w: 200px;
  --btn-large-w: 221px;
  --btn-h: 65px;

  /* end sizing */

  /* font */
  --primary-font-family: 'Raleway', sans-serif;
  --secondary-font-family: 'Playfair Display', serif;
  /* end font */
}
