<div class="brand-container">
  <a href="javascript:void(0)" class="brand-item">
    <img class="brand-img" src="{{brand_1}}" alt="brand-image">
  </a>
  <a href="javascript:void(0)" class="brand-item">
    <img class="brand-img" src="{{brand_2}}" alt="brand-image">
  </a>
  <a href="javascript:void(0)" class="brand-item">
    <img class="brand-img" src="{{brand_3}}" alt="brand-image">
  </a>
  <a href="javascript:void(0)" class="brand-item">
    <img class="brand-img" src="{{brand_4}}" alt="brand-image">
  </a>
  <a href="javascript:void(0)" class="brand-item">
    <img class="brand-img" src="{{brand_5}}" alt="brand-image">
  </a>
</div>
