.components,
.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 30px;
}

.components-heading {
  font-size: var(--fs-2x-large);
}

.component {
  gap: 10px;
}

.component-title {
  color: var(--secondary-text-color);
  text-transform: uppercase;
  font-weight: var(--fw-black);
}
