.campaigns-card {
  background-color: var(--primary-bg-color) ;
}

.campaigns-card-img {
  width: auto;
  height: auto;
  box-shadow: lightgray 0px 0px;
}

.campaigns-card-body {
  padding: 24px 39px 24px 30px;
  text-align: left;
}

.campaigns-card-text {
  color: var(--primary-text-color);
  font-size: var(--fs-x-small);
  font-weight: var(--fw-medium);
  line-height: 26px;
}
