/*------------------------------------*\
  #LOGO CSS
\*------------------------------------*/
.header-logo {
  width: 270px;
  height: 64px;
}

.header-logo-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.footer-logo {
  height: 46px;
}
