/*------------------------------------*\
  #HEADER CSS
\*------------------------------------*/
.header,
.header-nav-list {
  display: flex;
  align-items: center;
}

.header {
  justify-content: space-between;
  padding: 0 100px;
  height: 102px;
}

.header-nav-list {
  gap: 0 38px;
}

.header-nav-auth {
  box-sizing: border-box;
  color: var(--white-text-color);
  background-color: var(--secondary-bg-color);
  font-weight: var(--fw-extra-bold);
  text-transform: uppercase;
  font-size: var(--fs-small);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 41px;
  line-height: 21px;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.header-nav-auth:hover {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

