<div class="brand-container">
  <div class="brand-item">
    <img class="brand-img" src="{{brand1}}" alt="icon-brand">
  </div>
  <div class="brand-item">
    <img class="brand-img" src="{{brand2}}" alt="icon-brand">
  </div>
  <div class="brand-item">
    <img class="brand-img" src="{{brand3}}" alt="icon-brand">
  </div>
  <div class="brand-item">
    <img class="brand-img" src="{{brand4}}" alt="icon-brand">
  </div>
  <div class="brand-item">
    <img class="brand-img" src="{{brand5}}" alt="icon-brand">
  </div>
</div>
