<li class="footer-item">
  <a class="footer-link" href="#">{{footer_link_1}}</a>
</li>
<li class="footer-item">
  <a class="footer-link" href="#">{{footer_link_2}}</a>
</li>
<li class="footer-item">
  <a class="footer-link" href="#">{{footer_link_3}}</a>
</li>
<li class="footer-item">
  <a class="footer-link" href="#">{{footer_link_4}}</a>
</li>
<li class="footer-item">
  <a class="footer-link" href="#">{{footer_link_5}}</a>
</li>
<li class="footer-item">
  <a class="footer-link" href="#">{{footer_link_6}}</a>
</li>
