/*------------------------------------*\
  #COMMON CSS
\*------------------------------------*/
.container {
  max-width: 1088px;
  margin: 0 auto;
  position: relative;
}

body {
  font-family: var(--primary-font-family);
  font-weight: var(--fw-medium);
  font-size: var(--fs-medium);
}

h1,h2,h3 {
  font-family: var(--secondary-font-family);
  font-weight: var(--fw-black);
}

.btn {
  font-size: var(--fs-btn);
  font-weight: var(--fw-black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 65px;
  text-transform: uppercase;
  line-height: 25px;
  cursor: pointer;
  background-color: var(--primary-bg-color);
  border: none;
  color: var(--primary-color);
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
  border: 1px solid var(--secondary-color);
}

.btn-submit {
  border: none;
  width: 221px;
  background-color: var(--secondary-bg-color);
  color: var( --secondary-text-color);
}

.btn-submit:hover{
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.main-content {
  background-image: url(../../assets/images/backgound.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}
