:root{
  /* color */
  --primary-color: #4ba87d;
  --secondary-color: #fff;

  --primary-text-color: #000;
  --secondary-text-color: #fff;
  
  --primary-bg-color: #fff;
  --secondary-bg-color: #4ba87d;
  /* end color */

  /* sizing */
  --fs-x-small: 16px;
  --fs-small: 17px;
  --fs-medium: 19px;
  --fs-btn: 21px;
  --fs-large: 34px;
  --fs-x-large: 44px;
  --fs-xx-large: 59px;
  --fs-huge: 60px;

  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;
  /* end sizing */

  /* font */
  --primary-font-family: 'Raleway', sans-serif;
  --secondary-font-family: 'Playfair Display', serif;
  /* end font */
}
