/*------------------------------------*\
  #FOOTER CSS
\*------------------------------------*/
.footer {
  padding: 79px 0 39px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 0 74px 74px;
  border-bottom: 1px solid var(--border-color);
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: max-content;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 39px 94px 0;
  color: var(--primary-text-color);
  font-size: var(--fs-2x-small);
  font-weight: var(--fw-bold);
}

.footer-bottom-items {
  display: flex;
  gap: 0 35px;
}

@media screen and (max-width: 992px) {
  .footer {
    padding: 50px 0 30px;
  }

  .footer-container {
    padding: 0 58px 30px;
  }

  .footer-links {
    column-gap: 15px;
    gap: 0;
  }

  .footer-items {
    gap: 7px;
  }

  .footer-bottom {
    padding: 25px 58px 0 58px;
    font-size: var(--fs-responsive-2x-small);
  }
}

@media screen and (max-width: 576px) {
  .footer {
    padding-bottom: 51px;
  }

  .footer-container {
    grid-template-columns: auto;
    padding: 0;
  }

  .footer-links {
    grid-template-columns: auto;
    margin-top: 11px;
    padding-left: 17px;
    padding-bottom: 11px;
  }

  .footer-items:nth-child(1) {
    grid-area: 1 / 1;
  }

  .footer-items:nth-child(2) {
    grid-area: 2 / 1;
    transform: translateY(-15px);
  }

  .footer-items:nth-child(3) {
    grid-area: 1 / 2;
  }

  .footer-items:nth-child(4) {
    margin-top: 7px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 14px;
    padding: 25px 17px 0;
  }

  .footer-bottom-items {
    flex-direction: column;
  }
}
