/*------------------------------------*\
  #COMMON CSS
\*------------------------------------*/
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: var(--primary-font-family);
  font-weight: var(--fw-medium);
}

.container {
  max-width: 1088px;
  margin: 0 auto;
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: var(--secondary-font-family);
  font-weight: var(--fw-black);
}

.btn {
  min-width: var(--btn-medium-w);
  height: var(--btn-h);
  color: var(--secondary-text-color);
  background-color: var(--primary-bg-color);
  border: none;
  font-size: var(--fs-medium);
  font-family: var(--primary-font-family);
  font-weight: var(--fw-black);
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  color: var(--white-text-color);
  background-color: var(--secondary-bg-color);
}

.btn-submit {
  min-width: var(--btn-large-w);
  color: var(--white-text-color);
  background-color: var(--secondary-bg-color);
  border: none;
}

.btn-submit:hover {
  color: var(--secondary-text-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);
}

.main-content {
  margin: auto;
  background-image: url('../../assets/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1440px) {
  .main-content {
    background-size: contain;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 25px;
  }
}

@media screen and (max-width: 992px) {
  .btn {
    min-width: var(--btn-responsive-media-w);
    height: var(--btn-responsive-large-h);
    font-size: var(--fs-responsive-normal);
  }

  .btn-submit {
    min-width: var(--btn-responsive-large-w);
  }

  .main-content {
    background-image: url('../../assets/images/background-table.png');
  }
}

@media screen and (max-width: 576px) {
  .btn {
    min-width: var(--btn-responsive-large-w);
    height: var(--btn-responsive-media-h);
  }

  .main-content {
    background-image: url('../../assets/images/background-mobile.png');
    background-size: contain;
  }

  .container {
    padding: 0 10px;
  }
}
