/*------------------------------------*\
  #COMMON CSS
\*------------------------------------*/
body {
  font-family: var(--primary-font-family);
  font-weight: var(--fw-medium);
  font-size: var(--fs-x-medium);
  width:100%;
  margin: 0 auto;
}

.container {
  max-width: 1088px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: var(--secondary-font-family);
  font-weight: var(--fw-black);
}

.btn {
  font-size: var(--fs-medium);
  font-weight: var(--fw-black);
  min-width: var(--btn-medium-w);
  height: var(--btn-h);
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--primary-bg-color);
  border: none;
  color: var(--secondary-text-color);
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--secondary-bg-color);
  color: var(--white-text-color);
}

.btn-submit {
  border: none;
  min-width: var(--btn-large-w);
  background-color: var(--secondary-bg-color);
  color: var( --white-text-color);
}

.btn-submit:hover {
  background-color: transparent;
  color: var(--secondary-text-color);
  border: 1px solid var(--primary-color);
}

.main-content {
  background-image: url('../../assets/images/background.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}
